body {
    font: 16px/1 Helvetica, sans-serif;
}


#photos {
    float: left;
    width: 100%;
}

.photo {
    float: left;
    margin: 0 2px 2px 0;
    overflow: hidden;
    height: 160px;
}

.photo img {
    height: 140px;
}

.photo div {
    text-align: center;
}

.photo div a {
    cursor: pointer;
}